.grid {
width:1000px;
height:1000px;
background-color:#eeeeee;
margin:0 auto;
position:relative;
}

.toolbar {
min-width:100px;
min-height:100px;
background-color:#99CC00;
position:fixed;
}

.action {
width:50px;
height:50px;
background-color:#669900;
margin:10px;
z-index:999;
}

.part {
width:100px;
height:100px;
background-color:#ffffff;
overflow:hidden;
position:absolute;
border-radius:8px;
}

.act1 {
background-color:#669900;
}
.act2 {
background-color:#0099CC;
}
.act3 {
background-color:#FF8800;
}
.act4 {
background-color:#9933CC;
}
.act5 {
background-color:#CC0000;
}

.part1 {
background-color:#99CC00;
}
.part2 {
background-color:#33E5B5;
}
.part3 {
background-color:#FFBB33;
}
.part4 {
background-color:#AA66CC;
}
.part5 {
background-color:#FF4444;
}

.armanoid {
background-color:#aaaaaa;
position:relative;
margin:0 auto;
width:800px;
height:800px;
}
.skel {
width:100px;
height:100px;
position:absolute;
border:1px #666666 dashed;
background-color:#ffffff;
}

.tb2 {
right:0px;
}
.tb3 {
right:0px;
bottom:0px;
}

.tools {
border-bottom-left-radius:32px;
border-bottom-right-radius:32px;
}

.eyes {
margin:0 auto;
background-color:#000000;
padding:10px;
margin:24px 8px;
width:20px;
}
